.app-container {
  display:flex;
  height: 100%;
}

.navigation-container {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width:fit-content; /* Adjust as needed */
}

.content {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: 200px; /* control the right side with navigation bar */
}
